.patrat {
  border: 3px solid red;
  width: 80px;
  height: 80px;
}

.patrat2 {
  border: 3px solid blue;
  width: 160px;
  height: 160px;
}

.circle {
  border: 3px solid green;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
